extends layout

block content
	h1 Bird records

	.birdsSeen
		for bird in birds
			p Name: #{bird.name}
			p Description: #{bird.description}
			p Average Eggs Laid: #{bird.averageEggsLaid}
			p Nest location #{bird.nestData.location}
			p Nest Materials #{bird.nestData.materials}
			if bird.threatened
				p This bird is threatened
			p Dates seen:
				ul
					for date in bird.datesSeen
						li #{date}
			form(action="/addDate", method="POST")

				label Add new date seen
					input(name="dateSeen" type="date" required)
				input(name="name" value="#{bird.name}" type="hidden")
				input(name="addDate" type="submit" value="Add new date")

			form(action="/editBird", method="POST")
				input(name="name" value="#{bird.name}" type="hidden")
				input(type="submit" name="editBird" value="Edit this bird")

			form(action="/deleteBird", method="POST")
				input(name="name" value="#{bird.name}" type="hidden")
				input(type="submit" name="deleteBird" value="Delete this bird")
			hr

	.addNewSighting

		if error
			p #{error}

		form(action='/', method='POST')
			label Name (required)
				input(name="name" type="text" required)
			br
			label Description
				input(name="description" type="text")
			br
			label Average Eggs
				input(name="averageEggsLaid" type="number", min="0")
			br
			label Threatened?
				input(name="threatened" type="checkbox")
			br
			label Nest location
				input(name="location" type="text")
			label Nest materials
				input(name="materials" type="text")
			br
			label Date seen (required)
				input(name="dateSeen" type="date" required)
			br
			input(type="submit" name="addBird" value="Add new sighting")
